<%- include('../include/header.ejs') %> <%- include('../include/nav.ejs') %> 

  <main class="login__page">

    <% if(errorMsg) { %>
      <h3 class="error__msg"> <i class="fa-solid fa-circle-exclamation"></i> <%= errorMsg %></h3>
    <% } %>

    <form action="/login" method="post">
      <div>
        <label for="nationalId">الرقم القومي :</label>
        <input type="number" class="custom__input" name="nationalId" id="nationalId">
      </div>
      <div>
        <label for="password"> كلمة السر </label>
        <input type="password" class="custom__input" name="password" id="password">
      </div>

      <div class="user__type">
        <label for="student">
          <span>طالب</span>
          <input type="radio" name="user__type" id="student" value="student">
        </label>
        <label for="instructor">
          <span>مراقب</span>
          <input type="radio" name="user__type" id="instructor" value="instructor">
        </label>
      </div>

      <button class="btn"> تسجيل الدخول </button>
    </form>
  </main>

<%- include('../include/footer.ejs') %>
